/**
 * lens.css
 *
 * The stylesheet for the Example lens.
 * All rules should be prefixed by #lens
 */

#lens {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 1em;
  max-width: 1500px;
}

#lens #loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#lens #nav {
  text-align: center;
  border: thin solid;
  padding: .2em;
  margin-bottom: 1em;
}

#lens #nav a {
  margin: 0 1em;
  font-size: 1.1em;
}

#lens .subject, #lens .aspect, #lens .sample {
  margin: 1em 0;
  border: thin solid;
}

#lens .heading {
  border-bottom: thin solid;
  text-align: center;
  padding: 1em;
  position: relative;
}

#lens .heading h4 {
  margin: 0;
}

#lens .subject .body {
  display: flex;
}

#lens .subject .column {
  flex: 1;
}

#lens .subject .column.samples {
  border-left: thin solid;
}

/* override lightning css */
#lens ul {
  margin: 0;
  padding-left: 1em;
  list-style-type: disc;
}

/* override lightning css */
#lens .subject .column, #lens .sample .body, #lens .aspect .body {
  padding: 1em;
}

#lens ul.inline {
  display: inline;
  padding: 0;
}

#lens ul.inline li {
  display: inline;
}

#lens ul.inline li::after {
  content: ",";
}

#lens ul.inline li:last-child::after {
  content: none;
}

#lens .top-link {
  border: thin solid;
  width: 1em;
  height: 1em;
  position: absolute;
  right: -1px;
  top: -1px;
  text-align: center;
  font-size: 1.1em;
  color: inherit;
  text-decoration: none;
}

#lens .top-link:hover {
  font-weight: bold;
  text-decoration: none;
}

#lens .status-OK {
  color: green;
}

#lens .status-Info {
  color: blue;
}

#lens .status-Warning {
  color: yellow;
}

#lens .status-Critical {
  color: red;
}

#lens .status-Timeout {
  color: gray;
}

#lens .status-Invalid {
  color: gray;
}